/*------------------------------------*\
    #ABOUT
\*------------------------------------*/

.about-container {
	padding: 0px 0px 15px 0px;

	h2 {
		@include font-setup($font, 700, $xl-font, $main-black);

		text-align: center;
		margin-bottom: 30px;
		margin-top: 30px;

		@media (max-width : 768px) {
			font-size: $xxl-font;
		}
	}

	h4 {
		@include font-setup($font, 400, $n-font, $pink);

		text-align: left;

		@media (max-width : 768px) {
			font-size: $l-font;
			line-height: 1.4;
		}
	}

	h5 {
		@include font-setup($font, 400, $s-font, $main-black);

		text-align: left;

		@media (max-width : 768px) {
			font-size: $n-font;
			line-height: 1.4;
		}
	}

	p, ul {
		@include font-setup($font, 400, $xs-font, $gray);

		text-align: left;
		margin-bottom: 35px;

		@media (max-width : 768px) {
			font-size: $s-font;
		}
	}

	p:last-child {
		padding-bottom: 50px;

		@media (max-width : 992px) {
			padding-bottom: 100px;
		}
	}

	p:last-child.cookies {
		@include setCookieBannerOffset(50px, 100px);
	}

}

.about-inner-container {
	padding: 0px;

	@media (max-width : 768px) {
		padding-left: 25px;
		padding-right: 25px;
	}
}