/*------------------------------------*\
    #ADS
\*------------------------------------*/

.ads-container-right-lg {
	position: absolute;
	right: 0px;
	top: 100px;
	max-width: 300px;
	height: 600px;
	z-index: 20;
	//background-color: blue;

	@media (max-width : 1220px) {
		display: none;
	}
}

.ads-container-right-lg-alt {
	position: absolute;
	right: 0px;
	top: 100px;
	max-width: 300px;
	height: 250px;
	//background-color: yellow;

	@media (max-width : 1220px) {
		display: none;
	}
}

.ads-container-right-sm {
	position: absolute;
	right: 0px;
	top: 100px;
	max-width: 160px;
	height: 600px;
	z-index: 20;
	//background-color: pink;

	@media (min-width : 1220px) {
		display: none;
	}

	@media (max-width : 992px) {
		display: none;
	}
}

.ads-container-right-sm-alt {
	position: absolute;
	right: 0px;
	top: 100px;
	max-width: 160px;
	height: 600px;
	//background-color: pink;

	@media (min-width : 1220px) {
		display: none;
	}

	@media (max-width : 992px) {
		display: none;
	}
}

.ads-container-top-lg {
	position: relative;
	left: 50%;
	top: 25px;
	margin-bottom: 25px;
	margin-left: -300px;
	max-height: 125px;
	width: 600px;
	z-index: 20;
	//background-color: blue;

	@media (max-width : 620px) {
		display: none;
	}

	@media (min-width : 992px) {
		display: none;
	}
}

.ads-container-top-lg-alt {
	position: relative;
	left: 50%;
	margin-left: -364px;
	max-height: 90px;
	width: 728px;
	display: block;
	//background-color: blue;

	@media (min-width : 992px) {
		display: none;
	}

	@media (max-width : 748px) {
		display: none;
	}
}

.ads-container-top-sm {
	position: relative;
	left: 50%;
	top: 25px;
	margin-bottom: 25px;
	margin-left: -150px;
	max-height: 50px;
	width: 300px;
	z-index: 20;
	//background-color: red;

	@media (min-width : 620px) {
		display: none;
	}

	@media (max-width : 320px) {
		display: none;
	}
}

.ads-container-top-sm-alt {
	position: relative;
	left: 50%;
	margin-left: -160px;
	max-height: 50px;
	width: 320px;
	display: block;
	//background-color: red;

	@media (min-width : 748px) {
		display: none;
	}

	@media (max-width : 320px) {
		display: none;
	}
}