/*------------------------------------*\
    #BANNER
\*------------------------------------*/

.cl-banner {
	@include font-setup($font, 400, $xs-font, $main-black);

	//height: 50px !important;
	padding: 10 25 20 25 !important;
	line-height: 30px !important;
	background: $banner-bg !important;
	top: auto !important;
	bottom: 52px;
	z-index: 991 !important;

	p>br {
		display: none;
	}

	p>a {
		background: $pink !important; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left bottom, $pink, $red) !important; /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right top, $pink, $red) !important; /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right top, $pink, $red) !important; /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right top, $pink, $red) !important; /* Standard syntax */
		height: 30px !important;
		border-radius: 50px;
		padding: 1 20 0 20 !important;
		font-size: $xxs-font;
		font-weight: 700 !important;
	}

	p>a:nth-of-type(1) {
		margin-right: 10px !important;
	}
	p>a:nth-of-type(2) {
		margin-left: 10px !important;
	}

	@media (max-width : 992px) {
		bottom: 102px;
	}
}