/*------------------------------------*\
    #FEATURED-COMMENTS
\*------------------------------------*/

.featured-comments-container {
	padding: 0px 0px 15px 0px;

	h3 {
		text-align: center;
		margin-bottom: 30px;
	}

	.featured-comment {
		text-align: left;
		padding-top: 25px;
		padding-bottom: 25px;
		margin-bottom: 10px;
		//background-color: $gray-post-background;
		background-color: rgba(249, 249, 249, 0.8);
	}

	.featured-comment-header {
		@include font-setup($font-second, 700, $xxs-font, $gray);

		a {
			@include transition-setup(all, 0.2s);

			color: $pink;
			opacity: 0.75;
			text-decoration: none;
		}

		a:hover {
			opacity: 1;
			color: $pink;
		}

		p {
			display: inline-block;
		}

		p:nth-of-type(2) {
			margin-left: 10px;
		}

		button {
			@include transition-setup(all, 0.2s);
			background-color: transparent;
			border-width: 0px;
			float: right;
			outline: none;
			padding: 3 15 3 15px;
			margin-top: -3px;
			border-radius: 15px;
		}

		button:hover {
			background-color: $pink;
			color: white;
		}

		button.reported {
			background-color: $pink;
			color: white;
		}

		@media (max-width : 768px) {
			font-size: $xs-font;
		}
	}

	.featured-comment-body {
		@include font-setup($font, 400, $xs-font, $main-black);

		margin-bottom: 10px;

		p {
			word-wrap: break-word;
		}

		@media (max-width : 768px) {
			font-size: $s-font;
		}
	}

	.featured-comment-footer {
		button {
			@include transition-setup(all, 0.2s);

			border: 1px solid transparent;
			background-color: $gray-border;
			height: 30px;
			padding: 0px 15px 0px 15px;
			width: 130px;
			text-align: center;
			margin: 0px;
			outline: none;
			opacity: 0.75;
			text-decoration: none;
			border-radius: 50px;

			i {
				@include transition-setup(all, 0.2s);
			}
		}

		button>span>span {
			@include font-setup("Roboto", 700, $xxs-font, $main-black);

			@media (max-width : 768px) {
				font-size: $xs-font;
			}
		}

		button>span {
			height: 30px;
			display: block;

			@media (max-width : 768px) {
				height: 44px;
				padding-top: 8px;
			}
		}

		button>span>i {
			color: $main-black;
		}

		button:nth-of-type(1)>span>i {
			font-size: $s-font;

			@media (max-width : 768px) {
				font-size: $l-font;
			}
		}

		button:nth-of-type(2)>span>i {
			font-size: $n-font;

			@media (max-width : 768px) {
				font-size: $xl-font;
			}
		}

		button {
			@media (max-width : 768px) {
				width: 48%;
				height: 44px;
			}
		}

		button:nth-of-type(2) {
			margin-left: 10px;

			@media (max-width : 768px) {
				float: right;
			}
		}

		button:hover {
			opacity: 1;

			i {
				color: $pink;
			}
		}
    }
}

.featured-comments-inner-container {
	padding: 0px;
}

.featured-comments-inner-container>p {
	@include font-setup($font, 700, $xs-font, $gray);
	@include setAnimation(fadein 2s forwards);
	@include setKeyFrames(fadein) {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	opacity: 0;
	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
	text-align: center;
}