/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer-container {
	@include font-setup($font, 400, $xs-font, white);

	position: fixed;
	min-height: 50px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: $main-black;
	border: 1px solid $main-black;
	line-height: 50px;
	bottom: 0px;
	left: 0px;
	z-index: 991;

	.link-container, .social-container{
		padding: 0px;
	}

	a {
		@include transition-setup(all, 0.3s);

		color: white;
		text-decoration: none;
		margin: 0px 10px 0px 10px;
	}

	a:hover {
		color: $pink;
	}

	.social-container {
		text-align: right;
		font-size: $l-font;

		a:nth-of-type(1):hover {
			color: $facebook-blue;
		}

		a:nth-of-type(2):hover {
			color: $twitter-blue;
		}

		a:nth-of-type(3):hover {
			color: $instagram-blue;
		}

		@media (max-width : 992px) {
			text-align: center;
			font-size: $xxl-font;
			padding-bottom: 10px;
		}
	}

	@media (max-width : 768px) {
		font-size: $s-font;
	}

	.fb-like-container {
		padding: 15px 0px 0px 0px;
		height: 50px;

		@media (max-width : 992px) {
			display: none;
		}

		.fb-like {
			float: left;
		}
	}
}