/*------------------------------------*\
    #GLOBAL-VARIABLES
\*------------------------------------*/

$main-black: #1e1e1e;
$banner-bg: rgba(30,30,30,0.9);
$gray: #8e8e8e;
$gray-background: #f7f7f7;
$gray-border: #ededed;
$gray-shadow: #d3d3d3;
$gray-post-background: #f9f9f9;
$pink: #f700a5;
$pink-dark: #d10096;
$red: #ff0043;
$red-dark: #d80345;
$facebook-blue: #3B5998;
$twitter-blue: #5EA9DD;
$instagram-blue: #3f729b;

$font: "Roboto";
$font-second: "Lato";

// base size is 18px
$xxs-font: 0.667em; // 12px
$xs-font: 0.778em; // 14px
$s-font: 0.889em; // 16px
$n-font: 1.000em; // 18px
$l-font: 1.111em; // 20px
$xl-font: 1.222em; // 22px
$xxl-font: 1.333em; // 24px
$xxxl-font: 1.556em; // 28px

/*------------------------------------*\
    #GLOBAL-STYLES
\*------------------------------------*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; } // for bootstrap.ui

::selection {
	background: $pink; // WebKit/Blink Browsers
	color: white;
}

::-moz-selection {
	background: $pink; // Gecko Browsers
	color: white;
}

html,body{
	height: 100%
}

body {
	background-image: url("../../images/pattern.png");
    background-repeat: repeat;
	font-size: 18px;
}

.main-container {
	position: relative;
	min-height: 100%;
}

.chosenVote>span>span, .chosenVote>span>i {
	color: $pink !important;
}

a:active,a:focus {
    outline: none;
	opacity: 1;
}

/*------------------------------------*\
    #GLOBAL-MIXINS
\*------------------------------------*/

// weight = [400, 700, 900]
// size = []
// color = []

@mixin font-setup($font-name, $font-weight, $font-size, $font-color) {
	font-family: $font-name, sans-serif;
	font-size: $font-size;
	font-weight: $font-weight;
	color: $font-color;
	letter-spacing: 1px;
}

@mixin transition-setup($transition-property, $speed) {
	-webkit-transition: $transition-property $speed ease-out;
	transition: $transition-property $speed ease-out;
}

@mixin background-gradient-setup($to-first, $to-second, $first-color, $second-color) {
	$to-first-alt: left;
	$to-second-alt: top;

	@if $to-first == top {
		$to-second-alt: bottom;
	} @else if $to-first == bottom {
		$to-second-alt: top;
	}

	@if $to-second == left {
		$to-first-alt: right;
	} @else if $to-second == right {
		$to-first-alt: left;
	}

	background: $second-color; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient($to-first-alt $to-second-alt, $first-color, $second-color); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($to-first $to-second, $first-color, $second-color); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($to-first $to-second, $first-color, $second-color); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to $to-first $to-second, $first-color, $second-color); /* Standard syntax */
}

@mixin setKeyFrames($name) {
	@keyframes #{$name} {
		@content;
	}

	/* Firefox < 16 */
	@-moz-keyframes #{$name} {
		@content;
	}

	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes #{$name} {
		@content;
	}

	/* Internet Explorer */
	@-ms-keyframes #{$name} {
		@content;
	}

	/* Opera < 12.1 */
	@-o-keyframes #{$name} {
		@content;
	}
}

@mixin setAnimation($var){
	-webkit-animation: $var; // Safari, Chrome and Opera > 12.1
	-moz-animation: $var; // Firefox < 16
	-ms-animation: $var; // Internet Explorer
	-o-animation: $var; // Opera < 12.1
	animation: $var;
}

@mixin setCookieBannerOffset($basePadding, $secondBasePadding){
	padding-bottom: $basePadding + 71px;

	@media (max-width : 1401px) {
		padding-bottom: $basePadding + 112px;
	}

	@media (max-width : 1235px) {
		padding-bottom: $basePadding + 101px;
	}

	@media (max-width : 992px) {
		padding-bottom: $secondBasePadding + 142px;
	}

	@media (max-width : 753px) {
		padding-bottom: $secondBasePadding + 142px;
	}

	@media (max-width : 650px) {
		padding-bottom: $secondBasePadding + 131px;
	}

	@media (max-width : 535px) {
		padding-bottom: $secondBasePadding + 172px;
	}
}