/*------------------------------------*\
    #NAVBAR
\*------------------------------------*/

.logo-container {
	background-image: url("../../images/pattern.png");
    background-repeat: repeat;
	position: relative;
	min-height: 75px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	box-shadow: 0 0px 5px 2px $gray-shadow;

	.logo-inner-container {
		text-align: center;
	}

	a {
		text-decoration: none;
	}

	img {
		position: relative;
		width: 50px;
		height: 50px;
		margin: 0px;
		margin-top: 13px;
		float: none;
		margin-bottom: 10px;
	}

	p {
		@include font-setup($font-second, 700, $xs-font, $main-black);

		padding-left: 20px;
		display: inline;
	}
}