/*------------------------------------*\
    #POSTS
\*------------------------------------*/

.posts-container {
	padding: 0px 0px 15px 0px;

	.post {
		text-align: left;
		padding-top: 25px;
		padding-bottom: 15px;
		margin-bottom: 10px;
		//background-color: $gray-post-background;
		background-color: rgba(249, 249, 249, 0.8);
		@media (max-width : 768px) {
			padding-bottom: 25px;
		}
	}

	.post-header {
		@include font-setup($font-second, 700, $xxs-font, $gray);

		a {
			@include transition-setup(all, 0.2s);

			color: $pink;
			opacity: 0.75;
			text-decoration: none;
		}

		a:hover {
			opacity: 1;
			color: $pink;
		}

		p {
			display: inline-block;
			margin-left: 10px;
		}

		button {
			@include transition-setup(all, 0.2s);
			background-color: transparent;
			border-width: 0px;
			float: right;
			outline: none;
			padding: 3 15 3 15px;
			margin-top: -3px;
			border-radius: 15px;
		}

		button:hover {
			background-color: $pink;
			color: white;
		}

		button.reported {
			background-color: $pink;
			color: white;
		}

		@media (max-width : 768px) {
			font-size: $xs-font;
		}
	}

	.post-body {
		@include font-setup($font, 400, $xs-font, $main-black);

		margin-bottom: 10px;

		p {
			word-wrap: break-word;
		}

		@media (max-width : 768px) {
			font-size: $s-font;
		}
	}

	.post-footer {
		button, a {
			@include transition-setup(all, 0.2s);

			border: 1px solid transparent;
			background-color: $gray-border;
			height: 30px;
			padding: 0px 15px 0px 15px;
			width: 130px;
			text-align: center;
			margin: 0px;
			outline: none;
			opacity: 0.75;
			text-decoration: none;
			border-radius: 50px;

			i {
				@include transition-setup(all, 0.2s);
			}
		}

		button>span>span:last-of-type, a>span>span:last-of-type {
			@include font-setup("Roboto", 700, $xxs-font, $main-black);

			@media (max-width : 768px) {
				font-size: $xs-font;
			}
		}

		button>span {
			height: 30px;
			display: block;

			@media (max-width : 768px) {
				height: 44px;
				padding-top: 8px;
			}
		}

		button>span>i, a>span>i {
			color: $main-black;
		}

		button:nth-of-type(1)>span>i {
			font-size: $s-font;

			@media (max-width : 768px) {
				font-size: $l-font;
			}
		}

		button:nth-of-type(2)>span>i {
			font-size: $n-font;

			@media (max-width : 768px) {
				font-size: $xl-font;
			}
		}


		button:nth-of-type(3)>span>i {
			font-size: $n-font;

			@media (max-width : 768px) {
				font-size: $xl-font;
			}
		}

		a>span>i {
			font-size: $n-font;

			@media (max-width : 768px) {
				font-size: $xl-font;
			}
		}

		button {
			margin-bottom: 10px;

			@media (max-width : 768px) {
				width: 48%;
				height: 44px;
				margin-bottom: 0px;
			}
		}

		button:nth-of-type(2) {
			margin-left: 10px;

			@media (max-width : 768px) {
				float: right;
			}
		}

		button:nth-of-type(3) {
			@media (max-width : 768px) {
				margin-top: 10px;
				float: right;
			}
		}

		a {
			display: inline-block;
			margin-left: 10px;
			margin-right: 10px;

			@media (max-width : 768px) {
				padding: 4px 15px 4px 15px;
				text-align: center;
				margin-top: 10px;
				margin-right: 0px;
				width: 48%;
				height: 44px;
				margin-left: 0px;
				line-height: 34px;
			}
		}

		button:hover, a:hover {
			opacity: 1;

			i {
				color: $pink;
			}
		}

		button:nth-of-type(3):hover {
			i {
				color: $facebook-blue;
			}
		}
	}
}

.posts-inner-container {
	padding: 0px;
	min-height: 250px;
}

.posts-inner-container>p {
	@include font-setup($font, 700, $xs-font, $gray);
	@include setAnimation(fadein 2s forwards);
	@include setKeyFrames(fadein) {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	opacity: 0;
	-webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
	text-align: center;
}



.posts-nav-container {
	text-align: center;
	padding-bottom: 85px;

	button {
		@include transition-setup(all, 0.2s);

		background-color: $gray-border;
		color: $main-black;
		border-width: 0px;
		border-radius: 50px;
		text-align: center;
		outline: none;
		width: 50px;
		height: 50px;

		i {
			font-size: $xxxl-font;
			margin-right: 3px;
		}
	}

	button:hover {
		color: $pink;
	}

	button:nth-of-type(2) {
		margin-left: 10px;

		i {
			margin-left: 3px;
			margin-right: 0px;
		}
	}

	@media (max-width : 992px) {
		padding-bottom: 135px;
	}
}

.posts-nav-container.cookies {
	@include setCookieBannerOffset(85px, 135px);
}