/*------------------------------------*\
    #SINGLE-TEXT
\*------------------------------------*/

.post-text-container {
	padding: 0px;
	background-color: $gray-background;
	border-top: 1px solid $gray-border;
	border-bottom: 1px solid $gray-border;
	padding-top: 25px;
	padding-bottom: 15px;

	p {
		@include font-setup($font, 700, $s-font, $main-black);

		padding-left: 25px;
		padding-right: 25px;
		margin-bottom: 20px;
		word-wrap: break-word;
		padding: 25 25 25 25px;

		@media (max-width : 768px) {
			font-size: $n-font;
			padding-bottom: 15px;
		}
	}

	@media (max-width : 768px) {
		padding-bottom: 30px;
	}
}

.post-text-inner-container>div {
	padding: 0px;
}

.post-text-inner-container {
	padding: 0px;
	text-align: center;

	button {
		@include transition-setup(all, 0.2s);

		border: 1px solid transparent;
		background-color: $gray-border;
		height: 30px;
		padding: 0px 15px 0px 15px;
		margin: 0px;
		outline: none;
		opacity: 0.75;
		text-decoration: none;
		border-radius: 50px;
		width: 130px;

		i {
			@include transition-setup(all, 0.2s);
		}
	}

	button>span>span {
		@include font-setup("Roboto", 700, $xxs-font, $main-black);

		@media (max-width : 768px) {
			font-size: $xs-font;
		}
	}

	button>span {
		height: 30px;
		display: block;

		@media (max-width : 768px) {
			height: 44px;
			padding-top: 8px;
		}
	}

	button>span>i {
		color: $main-black;
	}

	button:nth-of-type(1)>span>i {
		font-size: $s-font;

		@media (max-width : 768px) {
			font-size: $l-font;
		}
	}

	button:nth-of-type(2)>span>i {
		font-size: $n-font;

		@media (max-width : 768px) {
			font-size: $xl-font;
		}
	}

	button:nth-of-type(3)>span>i {
		font-size: $s-font;

		@media (max-width : 768px) {
			font-size: $l-font;
		}
	}

	button:nth-of-type(4) {
		@include font-setup("Roboto", 700, $xxs-font, $main-black);

		margin-left: 10px;

		@media (max-width : 1144px) {
			margin-top: 15px;
			margin-right: 10px;
		}

		@media (max-width : 768px) {
			font-size: $xs-font;
			margin-left: 0px;
			margin-top: 10px;
			width: 100%;
			float: left;
		}
	}

	button:nth-of-type(4):hover {
		background-color: $pink;
		color: white;
	}

	button:nth-of-type(4).reported {
		background-color: $pink;
		color: white;
	}

	button {
		@media (max-width : 768px) {
			width: 48%;
			height: 44px;
		}
	}

	button:nth-of-type(2) {
		margin-left: 10px;

		@media (max-width : 768px) {
			float: right;
		}
	}

	button:nth-of-type(3) {
		margin-left: 10px;
		@media (max-width : 768px) {
			margin-left: 0px;
			margin-top: 10px;
			width: 100%;
			float: left;
		}
	}

	button:hover {
		opacity: 1;

		i {
			color: $pink;
		}
	}

	button:nth-of-type(3):hover {
		i {
			color: $facebook-blue;
		}
	}
}