/*------------------------------------*\
    #SORT
\*------------------------------------*/

.sort-container {
	@include font-setup($font, 700, $xxs-font, $main-black);

	padding: 0px 15px 0px 15px;
	margin-top: 10px;
	margin-bottom: 10px;

	.sort-by-type {
		@include transition-setup(opacity, 0.2s);

		margin-top: 15px;
		margin-bottom: 15px;
		background-color: transparent;
		border-width: 0px;
		padding: 2px 10px 2px 10px;
		outline: none;
		opacity: 0.5;

		@media (max-width : 768px) {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	.sort-by-type:hover {
		opacity: 1;
	}

	.sort-by-type:nth-of-type(1) {
		@media (max-width : 768px) {
			margin-left: 0px;
		}
	}

	.sort-horizontal-align {
		position: relative;

		@media (min-width : 768px) {
			text-align: center;
			margin-left: 115px;
		}
	}

	.active {
		border-bottom: 2px solid $pink;
		opacity: 1;
	}

	@media (max-width : 768px) {
		font-size: $s-font;
	}
}

.sort-by-time-button {
	margin-left: 10px;
	margin-right: 10px;
	z-index: 990 !important;
}

.sort-by-time-button>a {
	@include transition-setup(all, 0.2s);

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 50px;
	line-height: 20px;
	display: inline-block;
	width: 95px;
	text-align: left;
	padding: 4px 15px 4px 15px;
	background-color: $gray-background;
	border: 2px solid $gray-background;
	text-decoration: none;
	font-weight: 700;
	color: $main-black;

	i {
		line-height: 20px;
		float: right;
	}

	@media (max-width : 768px) {
		font-size: $s-font;
		width: 150px;
		padding: 12px 20px 12px 20px;
		margin-bottom: 30px;
	}
}

.sort-by-time-button>a:hover, .sort-by-time-button.open>a{
	background-color: white;
	border: 2px solid $pink;
	color: $pink;
}

.sort-by-time-list {
	font-weight: 700;
	color: $main-black;
	border-radius: 0px;
	padding: 0px;
	top: 30px;
	min-width: 0px !important;
	width: 95px !important;
	border-width: 0px;

	@media (max-width : 768px) {
		font-size: $s-font;
		width: 150px !important;
		top: 40px;
	}
}

.sort-by-time-list>li {
	@include transition-setup(all, 0.1s);

	cursor: pointer;
	padding: 4px 0px 4px 10px;

	@media (max-width : 768px) {
		padding: 12px 0px 12px 20px;
	}
}

.sort-by-time-list>li:hover {
	background-color: $gray-border;
}

.sort-inner-container {
	padding: 0px;

	@media (max-width : 768px) {
		text-align: center;
	}
}

.dropdown {
	@include transition-setup(all, 0.1s);

	z-index: -1;
	opacity: 0;

	@media (max-width : 768px) {
		position: absolute;
	}
}

.dropdown.active-dropdown {
	z-index: 5;
	opacity: 1;

	@media (max-width : 768px) {
		position: relative;
	}
}

.break-sort {
	display: none;

	@media (max-width : 768px) {
		display: block;
	}
}