/*------------------------------------*\
    #SUBMIT
\*------------------------------------*/

.submit-container {
	padding: 0px;
	padding-top: 25px;
	padding-bottom: 15px;

	textarea {
		@include font-setup($font, 400, $s-font, $main-black);

		-webkit-appearance: none;
		width: 100%;
		margin: 0px;
		resize: none;
		height: 120px;
		border-width: 0px;
		border-radius: 0px;
		outline: none;
		padding-left: 25px;
		padding-right: 25px;
		background-color: white;
		text-align: center;
		box-shadow: 0 2px 6px 1px #d3d3d3;
		border: 10px solid white;


		@media (max-width : 768px) {
			font-size: $n-font;
			height: 170px;
			border: 20px solid white;
		}
	}

	@media (max-width : 768px) {
		padding-bottom: 30px;
	}
}

.submit-inner-container>p {
	@include font-setup($font, 400, $xs-font, $gray);

	margin-top: 20px;
	margin-bottom: 10px;

	@media (max-width : 768px) {
		font-size: $s-font;
	}
}

.submit-inner-container {
	@include transition-setup(all, 0.3s);

	background-color: rgba(247,247,247,0.5);//$gray-background;
	border: 1px solid $gray-border;
	padding: 25 30 15 30px;
	text-align: center;
}

.submit-inner-container.hidden-inner-submit {
	opacity: 0;
}

.submit-button {
	@include background-gradient-setup(right, top, $pink, $red);
	@include transition-setup(all, 0.3s);
	@include font-setup($font-second, 700, $xxs-font, white);

	position: relative;
	width: 150px;
	height: 36px;
	margin-top: 15px;
	-webkit-appearance: none;
	border-width: 0px;
	border-radius: 25px;
	padding: 0px;
	outline: none;

	@media (max-width : 768px) {
		font-size: $s-font;
		width: 200px;
		height: 50px;
	}
}

.submit-button:after {
	@include transition-setup(all, 0.3s);

	display: block;
	width: 150px;
	height: 36px;
	margin-top: -27px;
	position: absolute;
	-webkit-appearance: none;
	border-width: 0px;
	border-radius: 25px;
	background-color: black;
	content: "";
	opacity: 0;
	z-index: -2;

	@media (max-width : 768px) {
		font-size: $s-font;
		width: 200px;
		height: 50px;
		margin-top: -36px;
	}
}

.submit-button:hover:after {
	opacity: 0.2;
}

.submit-button:hover {
	opacity: 0.9;
}

.submit-alert {
	@include transition-setup(all, 0.15s);
	@include font-setup($font-second, 700, $s-font, $pink);

	background-color: transparent;
	margin-top: -221px;
	height: 221px;
	opacity: 0;
	text-align: center;

	span {
		display: table;
		table-layout: fixed;
		height: 100%;
		width: 100%;
	}

	p {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	@media (max-width : 768px) {
		height: 287px;
		margin-top: -287px;
		font-size: $n-font;
	}
}

.submit-alert.hidden-alert {
	opacity: 0;
	z-index: -1;
}

.submit-alert.visible-alert {
	opacity: 1;
	z-index: 1;
}

