<div class="container-fluid faq-container">
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 faq-inner-container">
		<h2>FAQ</h2>

		<h4>Kako lahko najdem svojo izpoved?</h4>
		<p>S pregledom posameznih sekcij Novo, Priljubljeno, Top. Ker spletna stran izpovedi.si varuje anonimnost uporabnikov, ni mogoče neposredno slediti svoji izpovedi.</p>

		<h4>Zakaj ne objavljate vseh izpovedi?</h4>
		<p>Določene izpovedi kršijo pravilnik spletne strani. Takšne izpovedi izbrišemo.</p>

		<h4>Ali lahko dobim obvestilo, ko je moja izpoved komentirana?</h4>
		<p>Glej vprašanje 1. Ker sledenje izpovedim ni omogočeno, tudi pridobivanje informacij o tej izpovedi ni mogoče.</p>

		<h4>Ali lahko pustim osebne podatke v izpovedi ali komentarju na izpoved?</h4>
		<p>Puščanje osebnih podatkov krši pravilnik o anonimnosti uporabnikov, torej je prepovedano.</p>

		<h4>Zakaj časovno omejujete pisanje novih izpovedi in komentiranje?</h4>
		<p>Da bi obdržali kakovost in uporabnost spletne strani izpovedi.si na visokem nivoju, je potrebno omejiti dodajanje vsebine s strani enega uporabnika. S tem zagotovimo, da na spletno stran ne bo prihajalo preveč izpovedi slabe kakovosti ali komentarjev, ki bi pokvarili izkušnjo uporabnikov spletne strani.</p>

		<h4>Ali boste naredili aplikacijo za mobilne naprave?</h4>
		<p ng-class="{cookies: (vm.cookies == false)}">Tim izpovedi.si ves čas stremi k razvijanju novosti in izboljševanju uporabniške izkušnje. V načrtu je tako tudi izdelava mobilnih aplikacij za različne operacijske sisteme.</p>
	</div>
</div>