<div class="container-fluid about-container">
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 about-inner-container">
		<h2>Opis</h2>

		<h4>O nas</h4>
		<p>Socialna omrežja nas vse bolj učijo, da je vsakega posameznika potrebno ocenjevati in mu zraven imena pripisati še slabo oznako, če se njegovo mnenje ne ujema z mnenjem ostalih. Izpovedi.si ljudem omogoča, da se izrazijo brez zadržkov. Pri nas lahko anonimno pustite svojo izpoved brez da bi vas skrbelo,  da vas bo nekdo takoj ozmerjal samo zato, ker razmišljate drugače. Naš cilj je, da povežemo ljudi preko različnih osebnih anekdot in s tem prinesemo morje različnih čustev in občutkov do čim večjega števila uporabnikov.</p>

		<h4>Oglaševanje</h4>
		<p>Če želite oglaševati na naši spletni strani, nam pišite na oglasevanje@izpovedi.si .</p>

		<h4>Pravilnik</h4>
		<h5>Izpovedi, ki vsebujejo naslednje elemente, bodo odstranjene:</h5>
		<ul>
			<li>osebne podatke</li>
			<li>neposredne izjave sovraštva proti določeni naciji, religiji, rasi, itd.</li>
			<li>žalitve</li>
			<li>eksplicitne vulgarnosti in kletvice</li>
			<li>pornografske vsebine</li>
			<li>izjave, ki kažejo na hudo kršitev zakona</li>
			<li>morbidne in bizarne izjave, ki lahko vznemirijo uporabnike spletne strani</li>
			<li>izjave, ki promovirajo agresivnost</li>
		</ul>
		<h5>Nasveti:</h5>
		<ul>
			<li>poskusite napisati izvirno in zanimivo izpoved</li>
			<li>poskusite obdržati nivo pravopisne in slovnične pravilnosti</li>
			<li>ne pretiravajte z uporabo velikih črk, saj so takšna besedila moteča za branje</li>
			<li>predstavite iskreno zgodbo (anekdoto) iz svojega življenja</li>
		</ul>

		<h4>Pogoji uporabe</h4>

		<h5>Uvod</h5>
		<p>Izpovedi.si je spletni portal, na katerem so zbrane različne zgodbe iz vsakdanjega življenja. Zgodbe so napisane s strani anonimnih uporabnikov s ciljem deljenja lastnih izkušenj z večjo množico ljudi. Izpovedi.si je namenjen vsem starostnim skupinam ljudi. Z uporabo katerega koli dela spletne strani izpovedi.si se avtomatično strinjate z vsemi pravili uporabe spletne strani izpovedi.si ali katerega koli njenega dela ter da ste v vsakem trenutku seznanjeni z aktualnimi pravili in da jih razumete v celoti. Spletna stran izpovedi.si in vsi njeni deli se ne smejo uporabljati za nezakonita dejanja ali promoviranje nezakonitih dejanj. Ogled in uporaba vsebine spletne strani izpovedi.si je dovoljena vsem, ki ne kršijo pravil spletne strani. Spletna stran vsebuje lastno vsebino, vsebino partnerjev in oglaševalcev, vsebino kreirano s strani uporabnikov ter povezave na zunanje strani. Vsebina spletne strani izpovedi.si je objavljena z dobrimi nameni. Vsebino uporabljate na lastno odgovornost in izpovedi.si ne prevzema odgovorosti za kakršno koli škodo, ki lahko nastane z uporabo spletne strani izpovedi.si.</p>

		<h5>Avtorske pravice</h5>
		<p>zpovedi.si si lasti vse avtorske pravice vsebine spletne strani: tekstualno in vizualno vsebino, audio material, podatkovne baze, programsko kodo in vsebino partnerjev ter oglaševalcev. Nedovoljena uporaba katere koli izmed naštetih vsebin se šteje kot kršitev avtorskih pravic in je lahko predmet tožbe.</p>

		<h5>Povezave na zunanje spletne strani</h5>
		<p>Izpovedi.si vsebuje povezave na zunanje spletne strani. Te povezave so objavljene z dobrimi nameni in izpovedi.si ni odgovorna za vsebino zunanjih spletnih strani.</p>

		<h5>Zunanji partnerji</h5>
		<p>Izpovedi.si lahko v skladu z Ustavo Republike Slovenije zbira določene podatke o uporabnikih, ki jih pridobi tekom njihove uporabe spletne strani. Sem sodijo izključno podatki o ponudniku internetne povezave in IP naslov uporabnika. Omenjeni podatki se hranijo z namenom izboljševanja uporabniške izkušnje (preprečevanje zlorabe spletne strani). Takšni podatki so na strani uporabnika shranjeni v obliki piškotkov. Z njihovo pomočjo zlonamernim uporabnikom preprečimo, da bi na spletno stran objavili veliko neprimerne vsebine in tako pokvarili izkušnjo ostalih uporabnikov. Spletna stran izpovedi.si bo varovala vse shranjene podatke in anonimnost uporabnikov, razen če določeni uporabnik spletno stran uporabi za nezakonita dejanja.</p>

		<h5>Spremembe pravilnikov</h5>
		<p ng-class="{cookies: (vm.cookies == false)}">Izpovedi.si si pridržuje pravico, da brez napovedi občasno spremeni pravila uporabe spletne strani izpovedi.si. Z uporabo spletne strani se strinjate, da ste seznanjeni z najnovejšimi pravili.</p>
	</div>
</div>