<div class="container-fluid post-text-container">
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 post-text-inner-container">
		<p ng-bind="vm.postData.text">{{vm.postData.text}}</p>

		<div class="container-fluid">
			<button type="button" ng-attr-title="{{vm.postData.vote.choice == true ? 'Ne všečkaj' : 'Všečkaj'}}" ng-click="vm.vote('like', vm.postData.id)" ng-class="{true:'chosenVote', false:'notChosen'}[(vm.postData.vote.choice == true)]">
				<span>
					<i class="fa fa-thumbs-up fa-lg"></i>
					<span>({{vm.postData.vote.count[0].upvotes}})</span>
				</span>
			</button>

			<button type="button" ng-attr-title="{{vm.postData.vote.choice == false ? 'Ne hejtaj' : 'Hejtaj'}}" ng-click="vm.vote('dislike', vm.postData.id)" ng-class="{true:'chosenVote', false:'notChosen'}[(vm.postData.vote.choice == false)]">
				<span>
					<i class="fa fa-thumbs-down fa-lg"></i>
					<span>({{vm.postData.vote.count[0].downvotes}})</span>
				</span>
			</button>
			<button type="button" title="Deli na facebook" ng-click="vm.share( vm.postData.id, vm.postData.text)">
				<span>
					<i class="fa fa-facebook-official fa-lg"></i>
					<span>Deli</span>
				</span>
			</button>
			<button type="button" ng-class="{true:'reported', false:''}[(vm.postData.report)]" ng-click="vm.reportPost(vm.postData.id)" ng-attr-title="{{vm.postData.report == true ? 'Odjavi' : 'Prijavi'}}">
					{{vm.postData.report == true ? 'Prijavljeno' : 'Prijavi'}}
			</button>
		</div>
	</div>
</div>

<div class="container-fluid comment-submit-container">
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 comment-submit-inner-container">
		<textarea ng-model="vm.submitText" maxlength="1000" min-length="10" ng-trim="false" placeholder="{{vm.placeholder}}" ng-focus="vm.placeholder = ''" ng-blur="vm.placeholder = 'Objavi svoj komentar.'" ng-class="{true:'hidden-inner-submit', false:''}[vm.showAlert]"></textarea>
		<p ng-class="{true:'hidden-inner-submit', false:''}[vm.showAlert]">{{vm.submitText | noSpaceCount}} / 1000 </p>
		<button type="button" class="comment-submit-button" ng-click="vm.submit()" ng-class="{true:'hidden-inner-submit', false:''}[vm.showAlert]">
			KOMENTIRAJ
		</button>
	</div>

	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 submit-comment-alert" ng-class="{true:'visible-alert', false:'hidden-alert'}[vm.showAlert]">
		<span>
			<p ng-show="vm.textTooShort">Komentar mora imeti vsaj 10 znakov.</p>
			<p ng-show="vm.textTooLong">Komentar mora imeti manj kot 1000 znakov.</p>
			<p ng-show="vm.countDown">{{vm.successMessage}} Še <br> <timer ng-if="vm.countDownTime" countdown="vm.countDownTime" finish-callback="vm.countDownFinished()"  interval="1000" max-time-unit="'minute'">{{minutes}}m {{seconds}}sec</timer>preden lahko ponovno komentiraš.</p>
		</span>
	</div>
</div>

<div class="container-fluid featured-comments-container">
	<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 featured-comments-inner-container">

		<h3>Popularni komentarji</h3>

		<div class="container-fluid featured-comment" ng-repeat="comment in vm.topCommentArray track by $index">
			<div class="container-fluid featured-comment-header">
				<p>#{{vm.topCommentArray[$index].id}}</p>
				<p>
					<i class="fa fa-clock-o"></i>
					{{vm.topCommentArray[$index].created_at}}
				</p>
				<button type="button" ng-class="{true:'reported', false:''}[(vm.topCommentArray[$index].report)]" ng-click="vm.reportComment(vm.topCommentArray[$index].id)"  ng-attr-title="{{vm.topCommentArray[$index].report == true ? 'Odjavi' : 'Prijavi'}}">{{vm.topCommentArray[$index].report == true ? 'Prijavljeno' : 'Prijavi'}}</button>
			</div>

			<div class="container-fluid featured-comment-body">
				<p>{{vm.topCommentArray[$index].text}}</p>
			</div>

			<div class="container-fluid featured-comment-footer">
				<button type="button" ng-attr-title="{{vm.topCommentArray[$index].vote.choice == true ? 'Ne všečkaj' : 'Všečkaj'}}" ng-click="vm.commentVote('like', vm.topCommentArray[$index].id)" ng-class="{true:'chosenVote', false:'notChosen'}[(vm.topCommentArray[$index].vote.choice == true)]">
					<span>
						<i class="fa fa-thumbs-up fa-lg"></i>
						<span>({{vm.topCommentArray[$index].vote.count[0].upvotes}})</span>
					</span>
				</button>
				<button type="button" ng-attr-title="{{vm.topCommentArray[$index].vote.choice == false ? 'Ne hejtaj' : 'Hejtaj'}}" ng-click="vm.commentVote('dislike', vm.topCommentArray[$index].id)" ng-class="{true:'chosenVote', false:'notChosen'}[(vm.topCommentArray[$index].vote.choice == false)]">
					<span>
						<i class="fa fa-thumbs-down fa-lg"></i>
						<span>({{vm.topCommentArray[$index].vote.count[0].downvotes}})</span>
					</span>
				</button>
			</div>
		</div>

		<p ng-hide="vm.topCommentArray">Trenutno še ni popularnih komentarjev. :(</p>
	</div>
</div>

<div class="container-fluid comments-container">
	<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 comments-inner-container">

		<h3>Komentarji</h3>

		<div class="container-fluid comment" ng-repeat="comment in vm.commentArray track by $index">
			<div class="container-fluid comment-header">
				<p>#{{vm.commentArray[$index].id}}</p>
				<p>
					<i class="fa fa-clock-o"></i>
					{{vm.commentArray[$index].created_at}}
				</p>
				<button type="button" ng-class="{true:'reported', false:''}[(vm.commentArray[$index].report)]" ng-click="vm.reportComment(vm.commentArray[$index].id)" ng-attr-title="{{vm.commentArray[$index].report == true ? 'Odjavi' : 'Prijavi'}}">{{vm.commentArray[$index].report == true ? 'Prijavljeno' : 'Prijavi'}}</button>
			</div>

			<div class="container-fluid comment-body">
				<p>{{vm.commentArray[$index].text}}</p>
			</div>

			<div class="container-fluid comment-footer">
				<button type="button" ng-attr-title="{{vm.commentArray[$index].vote.choice == true ? 'Ne všečkaj' : 'Všečkaj'}}" ng-click="vm.commentVote('like', vm.commentArray[$index].id)" ng-class="{true:'chosenVote', false:'notChosen'}[(vm.commentArray[$index].vote.choice == true)]">
					<span>
						<i class="fa fa-thumbs-up fa-lg"></i>
						<span>({{vm.commentArray[$index].vote.count[0].upvotes}})</span>
					</span>
				</button>
				<button type="button" ng-attr-title="{{vm.commentArray[$index].vote.choice == false ? 'Ne hejtaj' : 'Hejtaj'}}" ng-click="vm.commentVote('dislike', vm.commentArray[$index].id)" ng-class="{true:'chosenVote', false:'notChosen'}[(vm.commentArray[$index].vote.choice == false)]">
					<span>
						<i class="fa fa-thumbs-down fa-lg"></i>
						<span>({{vm.commentArray[$index].vote.count[0].downvotes}})</span>
					</span>
				</button>
			</div>
		</div>

		<p ng-hide="vm.commentArray">Trenutno še ni komentarjev. :(</p>
	</div>
</div>

<div class="container-fluid comments-nav-container" ng-class="{cookies: (vm.cookies == false)}">
	<button title="Prejšnja stran" ng-click="vm.pageChange('prev')" ng-hide="vm.page == 0">
		<i class="fa fa-angle-left"></i>
	</button>
	<button title="Naslednja stran" ng-click="vm.pageChange('next')" ng-show="vm.nextPage > 0">
		<i class="fa fa-angle-right">
	</i></button>
</div>