/*------------------------------------*\
    #MAIN-SASS-FILE
\*------------------------------------*/
/*------------------------------------*\
    #GLOBAL-VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    #GLOBAL-STYLES
\*------------------------------------*/
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

::selection {
  background: #f700a5;
  color: white; }

::-moz-selection {
  background: #f700a5;
  color: white; }

html, body {
  height: 100%; }

body {
  background-image: url("../../images/pattern.png");
  background-repeat: repeat;
  font-size: 18px; }

.main-container {
  position: relative;
  min-height: 100%; }

.chosenVote > span > span, .chosenVote > span > i {
  color: #f700a5 !important; }

a:active, a:focus {
  outline: none;
  opacity: 1; }

/*------------------------------------*\
    #GLOBAL-MIXINS
\*------------------------------------*/
/*------------------------------------*\
    #NAVBAR
\*------------------------------------*/
.logo-container {
  background-image: url("../../images/pattern.png");
  background-repeat: repeat;
  position: relative;
  min-height: 75px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  box-shadow: 0 0px 5px 2px #d3d3d3; }
  .logo-container .logo-inner-container {
    text-align: center; }
  .logo-container a {
    text-decoration: none; }
  .logo-container img {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0px;
    margin-top: 13px;
    float: none;
    margin-bottom: 10px; }
  .logo-container p {
    font-family: "Lato", sans-serif;
    font-size: 0.778em;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 1px;
    padding-left: 20px;
    display: inline; }

/*------------------------------------*\
    #SUBMIT
\*------------------------------------*/
.submit-container {
  padding: 0px;
  padding-top: 25px;
  padding-bottom: 15px; }
  .submit-container textarea {
    font-family: "Roboto", sans-serif;
    font-size: 0.889em;
    font-weight: 400;
    color: #1e1e1e;
    letter-spacing: 1px;
    -webkit-appearance: none;
    width: 100%;
    margin: 0px;
    resize: none;
    height: 120px;
    border-width: 0px;
    border-radius: 0px;
    outline: none;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 6px 1px #d3d3d3;
    border: 10px solid white; }
    @media (max-width: 768px) {
      .submit-container textarea {
        font-size: 1em;
        height: 170px;
        border: 20px solid white; } }
  @media (max-width: 768px) {
    .submit-container {
      padding-bottom: 30px; } }

.submit-inner-container > p {
  font-family: "Roboto", sans-serif;
  font-size: 0.778em;
  font-weight: 400;
  color: #8e8e8e;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px; }
  @media (max-width: 768px) {
    .submit-inner-container > p {
      font-size: 0.889em; } }

.submit-inner-container {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: rgba(247, 247, 247, 0.5);
  border: 1px solid #ededed;
  padding: 25 30 15 30px;
  text-align: center; }

.submit-inner-container.hidden-inner-submit {
  opacity: 0; }

.submit-button {
  background: #ff0043;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #f700a5, #ff0043);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right top, #f700a5, #ff0043);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right top, #f700a5, #ff0043);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right top, #f700a5, #ff0043);
  /* Standard syntax */
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-family: "Lato", sans-serif;
  font-size: 0.667em;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  position: relative;
  width: 150px;
  height: 36px;
  margin-top: 15px;
  -webkit-appearance: none;
  border-width: 0px;
  border-radius: 25px;
  padding: 0px;
  outline: none; }
  @media (max-width: 768px) {
    .submit-button {
      font-size: 0.889em;
      width: 200px;
      height: 50px; } }

.submit-button:after {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: block;
  width: 150px;
  height: 36px;
  margin-top: -27px;
  position: absolute;
  -webkit-appearance: none;
  border-width: 0px;
  border-radius: 25px;
  background-color: black;
  content: "";
  opacity: 0;
  z-index: -2; }
  @media (max-width: 768px) {
    .submit-button:after {
      font-size: 0.889em;
      width: 200px;
      height: 50px;
      margin-top: -36px; } }

.submit-button:hover:after {
  opacity: 0.2; }

.submit-button:hover {
  opacity: 0.9; }

.submit-alert {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  font-family: "Lato", sans-serif;
  font-size: 0.889em;
  font-weight: 700;
  color: #f700a5;
  letter-spacing: 1px;
  background-color: transparent;
  margin-top: -221px;
  height: 221px;
  opacity: 0;
  text-align: center; }
  .submit-alert span {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%; }
  .submit-alert p {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  @media (max-width: 768px) {
    .submit-alert {
      height: 287px;
      margin-top: -287px;
      font-size: 1em; } }

.submit-alert.hidden-alert {
  opacity: 0;
  z-index: -1; }

.submit-alert.visible-alert {
  opacity: 1;
  z-index: 1; }

/*------------------------------------*\
    #SORT
\*------------------------------------*/
.sort-container {
  font-family: "Roboto", sans-serif;
  font-size: 0.667em;
  font-weight: 700;
  color: #1e1e1e;
  letter-spacing: 1px;
  padding: 0px 15px 0px 15px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .sort-container .sort-by-type {
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    border-width: 0px;
    padding: 2px 10px 2px 10px;
    outline: none;
    opacity: 0.5; }
    @media (max-width: 768px) {
      .sort-container .sort-by-type {
        margin-top: 30px;
        margin-bottom: 30px; } }
  .sort-container .sort-by-type:hover {
    opacity: 1; }
  @media (max-width: 768px) {
    .sort-container .sort-by-type:nth-of-type(1) {
      margin-left: 0px; } }
  .sort-container .sort-horizontal-align {
    position: relative; }
    @media (min-width: 768px) {
      .sort-container .sort-horizontal-align {
        text-align: center;
        margin-left: 115px; } }
  .sort-container .active {
    border-bottom: 2px solid #f700a5;
    opacity: 1; }
  @media (max-width: 768px) {
    .sort-container {
      font-size: 0.889em; } }

.sort-by-time-button {
  margin-left: 10px;
  margin-right: 10px;
  z-index: 990 !important; }

.sort-by-time-button > a {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 50px;
  line-height: 20px;
  display: inline-block;
  width: 95px;
  text-align: left;
  padding: 4px 15px 4px 15px;
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  text-decoration: none;
  font-weight: 700;
  color: #1e1e1e; }
  .sort-by-time-button > a i {
    line-height: 20px;
    float: right; }
  @media (max-width: 768px) {
    .sort-by-time-button > a {
      font-size: 0.889em;
      width: 150px;
      padding: 12px 20px 12px 20px;
      margin-bottom: 30px; } }

.sort-by-time-button > a:hover, .sort-by-time-button.open > a {
  background-color: white;
  border: 2px solid #f700a5;
  color: #f700a5; }

.sort-by-time-list {
  font-weight: 700;
  color: #1e1e1e;
  border-radius: 0px;
  padding: 0px;
  top: 30px;
  min-width: 0px !important;
  width: 95px !important;
  border-width: 0px; }
  @media (max-width: 768px) {
    .sort-by-time-list {
      font-size: 0.889em;
      width: 150px !important;
      top: 40px; } }

.sort-by-time-list > li {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  cursor: pointer;
  padding: 4px 0px 4px 10px; }
  @media (max-width: 768px) {
    .sort-by-time-list > li {
      padding: 12px 0px 12px 20px; } }

.sort-by-time-list > li:hover {
  background-color: #ededed; }

.sort-inner-container {
  padding: 0px; }
  @media (max-width: 768px) {
    .sort-inner-container {
      text-align: center; } }

.dropdown {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  z-index: -1;
  opacity: 0; }
  @media (max-width: 768px) {
    .dropdown {
      position: absolute; } }

.dropdown.active-dropdown {
  z-index: 5;
  opacity: 1; }
  @media (max-width: 768px) {
    .dropdown.active-dropdown {
      position: relative; } }

.break-sort {
  display: none; }
  @media (max-width: 768px) {
    .break-sort {
      display: block; } }

/*------------------------------------*\
    #POSTS
\*------------------------------------*/
.posts-container {
  padding: 0px 0px 15px 0px; }
  .posts-container .post {
    text-align: left;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    background-color: rgba(249, 249, 249, 0.8); }
    @media (max-width: 768px) {
      .posts-container .post {
        padding-bottom: 25px; } }
  .posts-container .post-header {
    font-family: "Lato", sans-serif;
    font-size: 0.667em;
    font-weight: 700;
    color: #8e8e8e;
    letter-spacing: 1px; }
    .posts-container .post-header a {
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      color: #f700a5;
      opacity: 0.75;
      text-decoration: none; }
    .posts-container .post-header a:hover {
      opacity: 1;
      color: #f700a5; }
    .posts-container .post-header p {
      display: inline-block;
      margin-left: 10px; }
    .posts-container .post-header button {
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      background-color: transparent;
      border-width: 0px;
      float: right;
      outline: none;
      padding: 3 15 3 15px;
      margin-top: -3px;
      border-radius: 15px; }
    .posts-container .post-header button:hover {
      background-color: #f700a5;
      color: white; }
    .posts-container .post-header button.reported {
      background-color: #f700a5;
      color: white; }
    @media (max-width: 768px) {
      .posts-container .post-header {
        font-size: 0.778em; } }
  .posts-container .post-body {
    font-family: "Roboto", sans-serif;
    font-size: 0.778em;
    font-weight: 400;
    color: #1e1e1e;
    letter-spacing: 1px;
    margin-bottom: 10px; }
    .posts-container .post-body p {
      word-wrap: break-word; }
    @media (max-width: 768px) {
      .posts-container .post-body {
        font-size: 0.889em; } }
  .posts-container .post-footer button, .posts-container .post-footer a {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border: 1px solid transparent;
    background-color: #ededed;
    height: 30px;
    padding: 0px 15px 0px 15px;
    width: 130px;
    text-align: center;
    margin: 0px;
    outline: none;
    opacity: 0.75;
    text-decoration: none;
    border-radius: 50px; }
    .posts-container .post-footer button i, .posts-container .post-footer a i {
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
  .posts-container .post-footer button > span > span:last-of-type, .posts-container .post-footer a > span > span:last-of-type {
    font-family: "Roboto", sans-serif;
    font-size: 0.667em;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 1px; }
    @media (max-width: 768px) {
      .posts-container .post-footer button > span > span:last-of-type, .posts-container .post-footer a > span > span:last-of-type {
        font-size: 0.778em; } }
  .posts-container .post-footer button > span {
    height: 30px;
    display: block; }
    @media (max-width: 768px) {
      .posts-container .post-footer button > span {
        height: 44px;
        padding-top: 8px; } }
  .posts-container .post-footer button > span > i, .posts-container .post-footer a > span > i {
    color: #1e1e1e; }
  .posts-container .post-footer button:nth-of-type(1) > span > i {
    font-size: 0.889em; }
    @media (max-width: 768px) {
      .posts-container .post-footer button:nth-of-type(1) > span > i {
        font-size: 1.111em; } }
  .posts-container .post-footer button:nth-of-type(2) > span > i {
    font-size: 1em; }
    @media (max-width: 768px) {
      .posts-container .post-footer button:nth-of-type(2) > span > i {
        font-size: 1.222em; } }
  .posts-container .post-footer button:nth-of-type(3) > span > i {
    font-size: 1em; }
    @media (max-width: 768px) {
      .posts-container .post-footer button:nth-of-type(3) > span > i {
        font-size: 1.222em; } }
  .posts-container .post-footer a > span > i {
    font-size: 1em; }
    @media (max-width: 768px) {
      .posts-container .post-footer a > span > i {
        font-size: 1.222em; } }
  .posts-container .post-footer button {
    margin-bottom: 10px; }
    @media (max-width: 768px) {
      .posts-container .post-footer button {
        width: 48%;
        height: 44px;
        margin-bottom: 0px; } }
  .posts-container .post-footer button:nth-of-type(2) {
    margin-left: 10px; }
    @media (max-width: 768px) {
      .posts-container .post-footer button:nth-of-type(2) {
        float: right; } }
  @media (max-width: 768px) {
    .posts-container .post-footer button:nth-of-type(3) {
      margin-top: 10px;
      float: right; } }
  .posts-container .post-footer a {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px; }
    @media (max-width: 768px) {
      .posts-container .post-footer a {
        padding: 4px 15px 4px 15px;
        text-align: center;
        margin-top: 10px;
        margin-right: 0px;
        width: 48%;
        height: 44px;
        margin-left: 0px;
        line-height: 34px; } }
  .posts-container .post-footer button:hover, .posts-container .post-footer a:hover {
    opacity: 1; }
    .posts-container .post-footer button:hover i, .posts-container .post-footer a:hover i {
      color: #f700a5; }
  .posts-container .post-footer button:nth-of-type(3):hover i {
    color: #3B5998; }

.posts-inner-container {
  padding: 0px;
  min-height: 250px; }

.posts-inner-container > p {
  font-family: "Roboto", sans-serif;
  font-size: 0.778em;
  font-weight: 700;
  color: #8e8e8e;
  letter-spacing: 1px;
  -webkit-animation: fadein 2s forwards;
  -moz-animation: fadein 2s forwards;
  -ms-animation: fadein 2s forwards;
  -o-animation: fadein 2s forwards;
  animation: fadein 2s forwards;
  /* Firefox < 16 */
  /* Safari, Chrome and Opera > 12.1 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  opacity: 0;
  -webkit-animation-delay: 2s;
  /* Chrome, Safari, Opera */
  animation-delay: 2s;
  text-align: center; }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.posts-nav-container {
  text-align: center;
  padding-bottom: 85px; }
  .posts-nav-container button {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-color: #ededed;
    color: #1e1e1e;
    border-width: 0px;
    border-radius: 50px;
    text-align: center;
    outline: none;
    width: 50px;
    height: 50px; }
    .posts-nav-container button i {
      font-size: 1.556em;
      margin-right: 3px; }
  .posts-nav-container button:hover {
    color: #f700a5; }
  .posts-nav-container button:nth-of-type(2) {
    margin-left: 10px; }
    .posts-nav-container button:nth-of-type(2) i {
      margin-left: 3px;
      margin-right: 0px; }
  @media (max-width: 992px) {
    .posts-nav-container {
      padding-bottom: 135px; } }

.posts-nav-container.cookies {
  padding-bottom: 156px; }
  @media (max-width: 1401px) {
    .posts-nav-container.cookies {
      padding-bottom: 197px; } }
  @media (max-width: 1235px) {
    .posts-nav-container.cookies {
      padding-bottom: 186px; } }
  @media (max-width: 992px) {
    .posts-nav-container.cookies {
      padding-bottom: 277px; } }
  @media (max-width: 753px) {
    .posts-nav-container.cookies {
      padding-bottom: 277px; } }
  @media (max-width: 650px) {
    .posts-nav-container.cookies {
      padding-bottom: 266px; } }
  @media (max-width: 535px) {
    .posts-nav-container.cookies {
      padding-bottom: 307px; } }

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
.footer-container {
  font-family: "Roboto", sans-serif;
  font-size: 0.778em;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
  position: fixed;
  min-height: 50px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: #1e1e1e;
  border: 1px solid #1e1e1e;
  line-height: 50px;
  bottom: 0px;
  left: 0px;
  z-index: 991; }
  .footer-container .link-container, .footer-container .social-container {
    padding: 0px; }
  .footer-container a {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: white;
    text-decoration: none;
    margin: 0px 10px 0px 10px; }
  .footer-container a:hover {
    color: #f700a5; }
  .footer-container .social-container {
    text-align: right;
    font-size: 1.111em; }
    .footer-container .social-container a:nth-of-type(1):hover {
      color: #3B5998; }
    .footer-container .social-container a:nth-of-type(2):hover {
      color: #5EA9DD; }
    .footer-container .social-container a:nth-of-type(3):hover {
      color: #3f729b; }
    @media (max-width: 992px) {
      .footer-container .social-container {
        text-align: center;
        font-size: 1.333em;
        padding-bottom: 10px; } }
  @media (max-width: 768px) {
    .footer-container {
      font-size: 0.889em; } }
  .footer-container .fb-like-container {
    padding: 15px 0px 0px 0px;
    height: 50px; }
    @media (max-width: 992px) {
      .footer-container .fb-like-container {
        display: none; } }
    .footer-container .fb-like-container .fb-like {
      float: left; }

/*------------------------------------*\
    #SINGLE-TEXT
\*------------------------------------*/
.post-text-container {
  padding: 0px;
  background-color: #f7f7f7;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding-top: 25px;
  padding-bottom: 15px; }
  .post-text-container p {
    font-family: "Roboto", sans-serif;
    font-size: 0.889em;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 1px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
    word-wrap: break-word;
    padding: 25 25 25 25px; }
    @media (max-width: 768px) {
      .post-text-container p {
        font-size: 1em;
        padding-bottom: 15px; } }
  @media (max-width: 768px) {
    .post-text-container {
      padding-bottom: 30px; } }

.post-text-inner-container > div {
  padding: 0px; }

.post-text-inner-container {
  padding: 0px;
  text-align: center; }
  .post-text-inner-container button {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border: 1px solid transparent;
    background-color: #ededed;
    height: 30px;
    padding: 0px 15px 0px 15px;
    margin: 0px;
    outline: none;
    opacity: 0.75;
    text-decoration: none;
    border-radius: 50px;
    width: 130px; }
    .post-text-inner-container button i {
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
  .post-text-inner-container button > span > span {
    font-family: "Roboto", sans-serif;
    font-size: 0.667em;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 1px; }
    @media (max-width: 768px) {
      .post-text-inner-container button > span > span {
        font-size: 0.778em; } }
  .post-text-inner-container button > span {
    height: 30px;
    display: block; }
    @media (max-width: 768px) {
      .post-text-inner-container button > span {
        height: 44px;
        padding-top: 8px; } }
  .post-text-inner-container button > span > i {
    color: #1e1e1e; }
  .post-text-inner-container button:nth-of-type(1) > span > i {
    font-size: 0.889em; }
    @media (max-width: 768px) {
      .post-text-inner-container button:nth-of-type(1) > span > i {
        font-size: 1.111em; } }
  .post-text-inner-container button:nth-of-type(2) > span > i {
    font-size: 1em; }
    @media (max-width: 768px) {
      .post-text-inner-container button:nth-of-type(2) > span > i {
        font-size: 1.222em; } }
  .post-text-inner-container button:nth-of-type(3) > span > i {
    font-size: 0.889em; }
    @media (max-width: 768px) {
      .post-text-inner-container button:nth-of-type(3) > span > i {
        font-size: 1.111em; } }
  .post-text-inner-container button:nth-of-type(4) {
    font-family: "Roboto", sans-serif;
    font-size: 0.667em;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 1px;
    margin-left: 10px; }
    @media (max-width: 1144px) {
      .post-text-inner-container button:nth-of-type(4) {
        margin-top: 15px;
        margin-right: 10px; } }
    @media (max-width: 768px) {
      .post-text-inner-container button:nth-of-type(4) {
        font-size: 0.778em;
        margin-left: 0px;
        margin-top: 10px;
        width: 100%;
        float: left; } }
  .post-text-inner-container button:nth-of-type(4):hover {
    background-color: #f700a5;
    color: white; }
  .post-text-inner-container button:nth-of-type(4).reported {
    background-color: #f700a5;
    color: white; }
  @media (max-width: 768px) {
    .post-text-inner-container button {
      width: 48%;
      height: 44px; } }
  .post-text-inner-container button:nth-of-type(2) {
    margin-left: 10px; }
    @media (max-width: 768px) {
      .post-text-inner-container button:nth-of-type(2) {
        float: right; } }
  .post-text-inner-container button:nth-of-type(3) {
    margin-left: 10px; }
    @media (max-width: 768px) {
      .post-text-inner-container button:nth-of-type(3) {
        margin-left: 0px;
        margin-top: 10px;
        width: 100%;
        float: left; } }
  .post-text-inner-container button:hover {
    opacity: 1; }
    .post-text-inner-container button:hover i {
      color: #f700a5; }
  .post-text-inner-container button:nth-of-type(3):hover i {
    color: #3B5998; }

/*------------------------------------*\
    #COMMENTS
\*------------------------------------*/
.comments-container {
  padding: 0px 0px 15px 0px; }
  .comments-container h3 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 5px; }
  .comments-container .comment {
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    background-color: rgba(249, 249, 249, 0.8); }
  .comments-container .comment-header {
    font-family: "Lato", sans-serif;
    font-size: 0.667em;
    font-weight: 700;
    color: #8e8e8e;
    letter-spacing: 1px; }
    .comments-container .comment-header a {
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      color: #f700a5;
      opacity: 0.75;
      text-decoration: none; }
    .comments-container .comment-header a:hover {
      opacity: 1;
      color: #f700a5; }
    .comments-container .comment-header p {
      display: inline-block; }
    .comments-container .comment-header p:nth-of-type(2) {
      margin-left: 10px; }
    @media (max-width: 768px) {
      .comments-container .comment-header {
        font-size: 0.778em; } }
    .comments-container .comment-header button {
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      background-color: transparent;
      border-width: 0px;
      float: right;
      outline: none;
      padding: 3 15 3 15px;
      margin-top: -3px;
      border-radius: 15px; }
    .comments-container .comment-header button:hover {
      background-color: #f700a5;
      color: white; }
    .comments-container .comment-header button.reported {
      background-color: #f700a5;
      color: white; }
  .comments-container .comment-body {
    font-family: "Roboto", sans-serif;
    font-size: 0.778em;
    font-weight: 400;
    color: #1e1e1e;
    letter-spacing: 1px;
    margin-bottom: 10px; }
    .comments-container .comment-body p {
      word-wrap: break-word; }
    @media (max-width: 768px) {
      .comments-container .comment-body {
        font-size: 0.889em; } }
  .comments-container .comment-footer button {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border: 1px solid transparent;
    background-color: #ededed;
    height: 30px;
    padding: 0px 15px 0px 15px;
    width: 130px;
    text-align: center;
    margin: 0px;
    outline: none;
    opacity: 0.75;
    text-decoration: none;
    border-radius: 50px; }
    .comments-container .comment-footer button i {
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
  .comments-container .comment-footer button > span > span {
    font-family: "Roboto", sans-serif;
    font-size: 0.667em;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 1px; }
    @media (max-width: 768px) {
      .comments-container .comment-footer button > span > span {
        font-size: 0.778em; } }
  .comments-container .comment-footer button > span {
    height: 30px;
    display: block; }
    @media (max-width: 768px) {
      .comments-container .comment-footer button > span {
        height: 44px;
        padding-top: 8px; } }
  .comments-container .comment-footer button > span > i {
    color: #1e1e1e; }
  .comments-container .comment-footer button:nth-of-type(1) > span > i {
    font-size: 0.889em; }
    @media (max-width: 768px) {
      .comments-container .comment-footer button:nth-of-type(1) > span > i {
        font-size: 1.111em; } }
  .comments-container .comment-footer button:nth-of-type(2) > span > i {
    font-size: 1em; }
    @media (max-width: 768px) {
      .comments-container .comment-footer button:nth-of-type(2) > span > i {
        font-size: 1.222em; } }
  @media (max-width: 768px) {
    .comments-container .comment-footer button {
      width: 48%;
      height: 44px; } }
  .comments-container .comment-footer button:nth-of-type(2) {
    margin-left: 10px; }
    @media (max-width: 768px) {
      .comments-container .comment-footer button:nth-of-type(2) {
        float: right; } }
  .comments-container .comment-footer button:hover {
    opacity: 1; }
    .comments-container .comment-footer button:hover i {
      color: #f700a5; }

.comments-inner-container {
  padding: 0px; }

.comments-inner-container > p {
  font-family: "Roboto", sans-serif;
  font-size: 0.778em;
  font-weight: 700;
  color: #8e8e8e;
  letter-spacing: 1px;
  -webkit-animation: fadein 2s forwards;
  -moz-animation: fadein 2s forwards;
  -ms-animation: fadein 2s forwards;
  -o-animation: fadein 2s forwards;
  animation: fadein 2s forwards;
  /* Firefox < 16 */
  /* Safari, Chrome and Opera > 12.1 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  opacity: 0;
  -webkit-animation-delay: 1s;
  /* Chrome, Safari, Opera */
  animation-delay: 1s forwards;
  text-align: center; }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.comments-nav-container {
  text-align: center;
  padding-bottom: 85px; }
  .comments-nav-container button {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-color: #ededed;
    color: #1e1e1e;
    border-width: 0px;
    border-radius: 50px;
    text-align: center;
    outline: none;
    width: 50px;
    height: 50px; }
    .comments-nav-container button i {
      font-size: 1.556em;
      margin-right: 3px; }
  .comments-nav-container button:hover {
    color: #f700a5; }
  .comments-nav-container button:nth-of-type(2) {
    margin-left: 10px; }
    .comments-nav-container button:nth-of-type(2) i {
      margin-left: 3px;
      margin-right: 0px; }
  @media (max-width: 992px) {
    .comments-nav-container {
      padding-bottom: 135px; } }

.comments-nav-container.cookies {
  padding-bottom: 156px; }
  @media (max-width: 1401px) {
    .comments-nav-container.cookies {
      padding-bottom: 197px; } }
  @media (max-width: 1235px) {
    .comments-nav-container.cookies {
      padding-bottom: 186px; } }
  @media (max-width: 992px) {
    .comments-nav-container.cookies {
      padding-bottom: 277px; } }
  @media (max-width: 753px) {
    .comments-nav-container.cookies {
      padding-bottom: 277px; } }
  @media (max-width: 650px) {
    .comments-nav-container.cookies {
      padding-bottom: 266px; } }
  @media (max-width: 535px) {
    .comments-nav-container.cookies {
      padding-bottom: 307px; } }

/*------------------------------------*\
    #FEATURED-COMMENTS
\*------------------------------------*/
.featured-comments-container {
  padding: 0px 0px 15px 0px; }
  .featured-comments-container h3 {
    text-align: center;
    margin-bottom: 30px; }
  .featured-comments-container .featured-comment {
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    background-color: rgba(249, 249, 249, 0.8); }
  .featured-comments-container .featured-comment-header {
    font-family: "Lato", sans-serif;
    font-size: 0.667em;
    font-weight: 700;
    color: #8e8e8e;
    letter-spacing: 1px; }
    .featured-comments-container .featured-comment-header a {
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      color: #f700a5;
      opacity: 0.75;
      text-decoration: none; }
    .featured-comments-container .featured-comment-header a:hover {
      opacity: 1;
      color: #f700a5; }
    .featured-comments-container .featured-comment-header p {
      display: inline-block; }
    .featured-comments-container .featured-comment-header p:nth-of-type(2) {
      margin-left: 10px; }
    .featured-comments-container .featured-comment-header button {
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      background-color: transparent;
      border-width: 0px;
      float: right;
      outline: none;
      padding: 3 15 3 15px;
      margin-top: -3px;
      border-radius: 15px; }
    .featured-comments-container .featured-comment-header button:hover {
      background-color: #f700a5;
      color: white; }
    .featured-comments-container .featured-comment-header button.reported {
      background-color: #f700a5;
      color: white; }
    @media (max-width: 768px) {
      .featured-comments-container .featured-comment-header {
        font-size: 0.778em; } }
  .featured-comments-container .featured-comment-body {
    font-family: "Roboto", sans-serif;
    font-size: 0.778em;
    font-weight: 400;
    color: #1e1e1e;
    letter-spacing: 1px;
    margin-bottom: 10px; }
    .featured-comments-container .featured-comment-body p {
      word-wrap: break-word; }
    @media (max-width: 768px) {
      .featured-comments-container .featured-comment-body {
        font-size: 0.889em; } }
  .featured-comments-container .featured-comment-footer button {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border: 1px solid transparent;
    background-color: #ededed;
    height: 30px;
    padding: 0px 15px 0px 15px;
    width: 130px;
    text-align: center;
    margin: 0px;
    outline: none;
    opacity: 0.75;
    text-decoration: none;
    border-radius: 50px; }
    .featured-comments-container .featured-comment-footer button i {
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
  .featured-comments-container .featured-comment-footer button > span > span {
    font-family: "Roboto", sans-serif;
    font-size: 0.667em;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 1px; }
    @media (max-width: 768px) {
      .featured-comments-container .featured-comment-footer button > span > span {
        font-size: 0.778em; } }
  .featured-comments-container .featured-comment-footer button > span {
    height: 30px;
    display: block; }
    @media (max-width: 768px) {
      .featured-comments-container .featured-comment-footer button > span {
        height: 44px;
        padding-top: 8px; } }
  .featured-comments-container .featured-comment-footer button > span > i {
    color: #1e1e1e; }
  .featured-comments-container .featured-comment-footer button:nth-of-type(1) > span > i {
    font-size: 0.889em; }
    @media (max-width: 768px) {
      .featured-comments-container .featured-comment-footer button:nth-of-type(1) > span > i {
        font-size: 1.111em; } }
  .featured-comments-container .featured-comment-footer button:nth-of-type(2) > span > i {
    font-size: 1em; }
    @media (max-width: 768px) {
      .featured-comments-container .featured-comment-footer button:nth-of-type(2) > span > i {
        font-size: 1.222em; } }
  @media (max-width: 768px) {
    .featured-comments-container .featured-comment-footer button {
      width: 48%;
      height: 44px; } }
  .featured-comments-container .featured-comment-footer button:nth-of-type(2) {
    margin-left: 10px; }
    @media (max-width: 768px) {
      .featured-comments-container .featured-comment-footer button:nth-of-type(2) {
        float: right; } }
  .featured-comments-container .featured-comment-footer button:hover {
    opacity: 1; }
    .featured-comments-container .featured-comment-footer button:hover i {
      color: #f700a5; }

.featured-comments-inner-container {
  padding: 0px; }

.featured-comments-inner-container > p {
  font-family: "Roboto", sans-serif;
  font-size: 0.778em;
  font-weight: 700;
  color: #8e8e8e;
  letter-spacing: 1px;
  -webkit-animation: fadein 2s forwards;
  -moz-animation: fadein 2s forwards;
  -ms-animation: fadein 2s forwards;
  -o-animation: fadein 2s forwards;
  animation: fadein 2s forwards;
  /* Firefox < 16 */
  /* Safari, Chrome and Opera > 12.1 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  opacity: 0;
  -webkit-animation-delay: 1s;
  /* Chrome, Safari, Opera */
  animation-delay: 1s;
  text-align: center; }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/*------------------------------------*\
    #COMMENT-SUBMIT
\*------------------------------------*/
.comment-submit-container {
  padding: 0px; }
  .comment-submit-container textarea {
    font-family: "Roboto", sans-serif;
    font-size: 0.778em;
    font-weight: 400;
    color: #1e1e1e;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-appearance: none;
    width: 100%;
    margin: 0px;
    resize: none;
    height: 110px;
    border-width: 0px;
    border-radius: 0px;
    outline: none;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 6px 1px #d3d3d3;
    border: 10px solid white; }
    @media (max-width: 768px) {
      .comment-submit-container textarea {
        font-size: 0.889em;
        height: 160px;
        border: 20px solid white; } }

.comment-submit-inner-container {
  padding: 0px;
  text-align: center;
  background-color: rgba(247, 247, 247, 0.5);
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  margin-top: 35px;
  border: 1px solid #ededed;
  padding-left: 25px;
  padding-right: 25px; }
  @media (max-width: 768px) {
    .comment-submit-inner-container {
      padding-bottom: 30px; } }

.comment-submit-inner-container > p {
  font-family: "Roboto", sans-serif;
  font-size: 0.778em;
  font-weight: 400;
  color: #8e8e8e;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-top: 20px;
  margin-bottom: 10px; }
  @media (max-width: 768px) {
    .comment-submit-inner-container > p {
      font-size: 0.889em; } }

.comment-submit-inner-container > .hidden-inner-submit, .comment-submit-inner-container > .hidden-inner-submit:hover {
  opacity: 0; }

.comment-submit-button {
  background: #ff0043;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #f700a5, #ff0043);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right top, #f700a5, #ff0043);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right top, #f700a5, #ff0043);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right top, #f700a5, #ff0043);
  /* Standard syntax */
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-family: "Lato", sans-serif;
  font-size: 0.667em;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  position: relative;
  width: 150px;
  height: 36px;
  margin-top: 15px;
  -webkit-appearance: none;
  border-width: 0px;
  border-radius: 25px;
  padding: 0px;
  outline: none; }
  @media (max-width: 768px) {
    .comment-submit-button {
      font-size: 0.889em;
      width: 200px;
      height: 50px; } }

.comment-submit-button:after {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: block;
  width: 150px;
  height: 36px;
  margin-top: -27px;
  position: absolute;
  -webkit-appearance: none;
  border-width: 0px;
  border-radius: 25px;
  background-color: black;
  content: "";
  opacity: 0;
  z-index: -2; }
  @media (max-width: 768px) {
    .comment-submit-button:after {
      font-size: 0.889em;
      width: 200px;
      height: 50px;
      margin-top: -36px; } }

.comment-submit-button:hover:after {
  opacity: 0.2; }

.comment-submit-button:hover {
  opacity: 0.9; }

.submit-comment-alert {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  font-family: "Lato", sans-serif;
  font-size: 0.889em;
  font-weight: 700;
  color: #f700a5;
  letter-spacing: 1px;
  background-color: transparent;
  margin-top: -263px;
  height: 253px;
  opacity: 0;
  text-align: center; }
  .submit-comment-alert span {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%; }
  .submit-comment-alert p {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  @media (max-width: 768px) {
    .submit-comment-alert {
      height: 334px;
      margin-top: -344px;
      font-size: 1em; } }

.submit-comment-alert.hidden-alert {
  opacity: 0;
  z-index: -1; }

.submit-comment-alert.visible-alert {
  opacity: 1;
  z-index: 1; }

/*------------------------------------*\
    #FAQ
\*------------------------------------*/
.faq-container {
  padding: 0px 0px 15px 0px; }
  .faq-container h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.222em;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px; }
    @media (max-width: 768px) {
      .faq-container h2 {
        font-size: 1.333em; } }
  .faq-container h4 {
    font-family: "Roboto", sans-serif;
    font-size: n-font;
    font-weight: 400;
    color: #f700a5;
    letter-spacing: 1px;
    text-align: left; }
    @media (max-width: 768px) {
      .faq-container h4 {
        font-size: 1.111em;
        line-height: 1.4; } }
  .faq-container p {
    font-family: "Roboto", sans-serif;
    font-size: 0.778em;
    font-weight: 400;
    color: #8e8e8e;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 35px; }
    @media (max-width: 768px) {
      .faq-container p {
        font-size: 0.889em; } }
  .faq-container p:last-child {
    padding-bottom: 50px; }
    @media (max-width: 992px) {
      .faq-container p:last-child {
        padding-bottom: 100px; } }
  .faq-container p:last-child.cookies {
    padding-bottom: 121px; }
    @media (max-width: 1401px) {
      .faq-container p:last-child.cookies {
        padding-bottom: 162px; } }
    @media (max-width: 1235px) {
      .faq-container p:last-child.cookies {
        padding-bottom: 151px; } }
    @media (max-width: 992px) {
      .faq-container p:last-child.cookies {
        padding-bottom: 242px; } }
    @media (max-width: 753px) {
      .faq-container p:last-child.cookies {
        padding-bottom: 242px; } }
    @media (max-width: 650px) {
      .faq-container p:last-child.cookies {
        padding-bottom: 231px; } }
    @media (max-width: 535px) {
      .faq-container p:last-child.cookies {
        padding-bottom: 272px; } }

.faq-inner-container {
  padding: 0px; }
  @media (max-width: 768px) {
    .faq-inner-container {
      padding-left: 25px;
      padding-right: 25px; } }

/*------------------------------------*\
    #ABOUT
\*------------------------------------*/
.about-container {
  padding: 0px 0px 15px 0px; }
  .about-container h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.222em;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px; }
    @media (max-width: 768px) {
      .about-container h2 {
        font-size: 1.333em; } }
  .about-container h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #f700a5;
    letter-spacing: 1px;
    text-align: left; }
    @media (max-width: 768px) {
      .about-container h4 {
        font-size: 1.111em;
        line-height: 1.4; } }
  .about-container h5 {
    font-family: "Roboto", sans-serif;
    font-size: 0.889em;
    font-weight: 400;
    color: #1e1e1e;
    letter-spacing: 1px;
    text-align: left; }
    @media (max-width: 768px) {
      .about-container h5 {
        font-size: 1em;
        line-height: 1.4; } }
  .about-container p, .about-container ul {
    font-family: "Roboto", sans-serif;
    font-size: 0.778em;
    font-weight: 400;
    color: #8e8e8e;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 35px; }
    @media (max-width: 768px) {
      .about-container p, .about-container ul {
        font-size: 0.889em; } }
  .about-container p:last-child {
    padding-bottom: 50px; }
    @media (max-width: 992px) {
      .about-container p:last-child {
        padding-bottom: 100px; } }
  .about-container p:last-child.cookies {
    padding-bottom: 121px; }
    @media (max-width: 1401px) {
      .about-container p:last-child.cookies {
        padding-bottom: 162px; } }
    @media (max-width: 1235px) {
      .about-container p:last-child.cookies {
        padding-bottom: 151px; } }
    @media (max-width: 992px) {
      .about-container p:last-child.cookies {
        padding-bottom: 242px; } }
    @media (max-width: 753px) {
      .about-container p:last-child.cookies {
        padding-bottom: 242px; } }
    @media (max-width: 650px) {
      .about-container p:last-child.cookies {
        padding-bottom: 231px; } }
    @media (max-width: 535px) {
      .about-container p:last-child.cookies {
        padding-bottom: 272px; } }

.about-inner-container {
  padding: 0px; }
  @media (max-width: 768px) {
    .about-inner-container {
      padding-left: 25px;
      padding-right: 25px; } }

/*------------------------------------*\
    #BANNER
\*------------------------------------*/
.cl-banner {
  font-family: "Roboto", sans-serif;
  font-size: 0.778em;
  font-weight: 400;
  color: #1e1e1e;
  letter-spacing: 1px;
  padding: 10 25 20 25 !important;
  line-height: 30px !important;
  background: rgba(30, 30, 30, 0.9) !important;
  top: auto !important;
  bottom: 52px;
  z-index: 991 !important; }
  .cl-banner p > br {
    display: none; }
  .cl-banner p > a {
    background: #f700a5 !important;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left bottom, #f700a5, #ff0043) !important;
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right top, #f700a5, #ff0043) !important;
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right top, #f700a5, #ff0043) !important;
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right top, #f700a5, #ff0043) !important;
    /* Standard syntax */
    height: 30px !important;
    border-radius: 50px;
    padding: 1 20 0 20 !important;
    font-size: 0.667em;
    font-weight: 700 !important; }
  .cl-banner p > a:nth-of-type(1) {
    margin-right: 10px !important; }
  .cl-banner p > a:nth-of-type(2) {
    margin-left: 10px !important; }
  @media (max-width: 992px) {
    .cl-banner {
      bottom: 102px; } }

/*------------------------------------*\
    #ADS
\*------------------------------------*/
.ads-container-right-lg {
  position: absolute;
  right: 0px;
  top: 100px;
  max-width: 300px;
  height: 600px;
  z-index: 20; }
  @media (max-width: 1220px) {
    .ads-container-right-lg {
      display: none; } }

.ads-container-right-lg-alt {
  position: absolute;
  right: 0px;
  top: 100px;
  max-width: 300px;
  height: 250px; }
  @media (max-width: 1220px) {
    .ads-container-right-lg-alt {
      display: none; } }

.ads-container-right-sm {
  position: absolute;
  right: 0px;
  top: 100px;
  max-width: 160px;
  height: 600px;
  z-index: 20; }
  @media (min-width: 1220px) {
    .ads-container-right-sm {
      display: none; } }
  @media (max-width: 992px) {
    .ads-container-right-sm {
      display: none; } }

.ads-container-right-sm-alt {
  position: absolute;
  right: 0px;
  top: 100px;
  max-width: 160px;
  height: 600px; }
  @media (min-width: 1220px) {
    .ads-container-right-sm-alt {
      display: none; } }
  @media (max-width: 992px) {
    .ads-container-right-sm-alt {
      display: none; } }

.ads-container-top-lg {
  position: relative;
  left: 50%;
  top: 25px;
  margin-bottom: 25px;
  margin-left: -300px;
  max-height: 125px;
  width: 600px;
  z-index: 20; }
  @media (max-width: 620px) {
    .ads-container-top-lg {
      display: none; } }
  @media (min-width: 992px) {
    .ads-container-top-lg {
      display: none; } }

.ads-container-top-lg-alt {
  position: relative;
  left: 50%;
  margin-left: -364px;
  max-height: 90px;
  width: 728px;
  display: block; }
  @media (min-width: 992px) {
    .ads-container-top-lg-alt {
      display: none; } }
  @media (max-width: 748px) {
    .ads-container-top-lg-alt {
      display: none; } }

.ads-container-top-sm {
  position: relative;
  left: 50%;
  top: 25px;
  margin-bottom: 25px;
  margin-left: -150px;
  max-height: 50px;
  width: 300px;
  z-index: 20; }
  @media (min-width: 620px) {
    .ads-container-top-sm {
      display: none; } }
  @media (max-width: 320px) {
    .ads-container-top-sm {
      display: none; } }

.ads-container-top-sm-alt {
  position: relative;
  left: 50%;
  margin-left: -160px;
  max-height: 50px;
  width: 320px;
  display: block; }
  @media (min-width: 748px) {
    .ads-container-top-sm-alt {
      display: none; } }
  @media (max-width: 320px) {
    .ads-container-top-sm-alt {
      display: none; } }

/*# sourceMappingURL=style.css.map */
