<div class="container-fluid submit-container">
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 submit-inner-container" ng-class="{true:'hidden-inner-submit', false:''}[vm.showAlert]">
		<textarea ng-model="vm.submitText" maxlength="1000" min-length="10" ng-trim="false" placeholder="{{vm.placeholder}}" ng-focus="vm.placeholder = ''" ng-blur="vm.placeholder = 'Objavi svojo izpoved.'"></textarea>
		<p>{{vm.submitText | noSpaceCount}} / 1000 </p>
		<button type="button" class="submit-button" ng-click="vm.submit()">OBJAVI</button>
	</div>

	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 submit-alert" ng-class="{true:'visible-alert', false:'hidden-alert'}[vm.showAlert]">
		<span>
		<p ng-show="vm.textTooShort">Izpoved mora imeti vsaj 10 znakov.</p>
		<p ng-show="vm.textTooLong">Izpoved mora imeti manj kot 1000 znakov.</p>
		<p ng-show="vm.countDown">{{vm.successMessage}} Še <br> <timer ng-if="vm.countDownTime" countdown="vm.countDownTime" finish-callback="vm.countDownFinished()"  interval="1000" max-time-unit="'minute'">{{minutes}}m {{seconds}}sec</timer>preden lahko ponovno objaviš izpoved.</p>
		</span>
	</div>
</div>

<div class="container-fluid sort-container">
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 sort-inner-container">
		<div class="sort-horizontal-align">
			<button type="button" ng-click="vm.sortChange('rastoce')" class="sort-by-type"
			ng-class="{rastoce:'active'}[vm.sort]">Rastoče</button>
			<button type="button" ng-click="vm.sortChange('top')" class="sort-by-type"
			ng-class="{top:'active'}[vm.sort]">Top</button>
			<button type="button" ng-click="vm.sortChange('novo')" class="sort-by-type"
			ng-class="{novo:'active'}[vm.sort]">Novo</button>

			<br class="break-sort">

			<span uib-dropdown on-toggle="toggled(open)" class="sort-by-time-button"
			ng-class="{top:'active-dropdown'}[vm.sort]">
				<a href id="simple-dropdown" uib-dropdown-toggle>{{vm.time | capitalize}} <i class="fa fa-chevron-down"></i></a>
				<ul uib-dropdown-menu aria-labelledby="simple-dropdown" class="sort-by-time-list">
					<li ng-click="vm.timeChange('dan')">Dan</li>
					<li ng-click="vm.timeChange('teden')">Teden</li>
					<li ng-click="vm.timeChange('mesec')">Mesec</li>
					<li ng-click="vm.timeChange('vse')">Vse</li>
				</ul>
			</span>
		</div>
	</div>
</div>

<div class="container-fluid posts-container">
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 posts-inner-container">
		<div class="container-fluid post" ng-repeat="post in vm.postsArray track by $index">
			<div class="container-fluid post-header">
				<a href="/i/{{vm.postsArray[$index].id}}" target="_blank">#{{vm.postsArray[$index].id}}</a>
				<p>
					<i class="fa fa-clock-o"></i>
					{{vm.postsArray[$index].created_at}}
				</p>
				<!--<button type="button" ng-class="{true:'reported', false:''}[(vm.postsArray[$index].report)]" ng-click="vm.report(vm.postsArray[$index].id)" ng-attr-title="{{vm.postsArray[$index].report == true ? 'Odjavi' : 'Prijavi'}}">{{vm.postsArray[$index].report == true ? 'Prijavljeno' : 'Prijavi'}}</button>-->
			</div>

			<div class="container-fluid post-body">
				<p>{{vm.postsArray[$index].text}}</p>
			</div>
			<div class="container-fluid post-footer">
				<button type="button" ng-attr-title="{{vm.postsArray[$index].vote.choice == true ? 'Ne všečkaj' : 'Všečkaj'}}" ng-click="vm.vote('like', vm.postsArray[$index].id)" ng-class="{true:'chosenVote', false:'notChosen'}[(vm.postsArray[$index].vote.choice == true)]">
					<span>
						<i class="fa fa-thumbs-up fa-lg"></i>
						<span>({{vm.postsArray[$index].vote.count[0].upvotes}})</span>
					</span>
				</button>
				<button type="button" ng-attr-title="{{vm.postsArray[$index].vote.choice == false ? 'Ne hejtaj' : 'Hejtaj'}}" ng-click="vm.vote('dislike', vm.postsArray[$index].id)" ng-class="{true:'chosenVote', false:'notChosen'}[(vm.postsArray[$index].vote.choice == false)]">
					<span>
						<i class="fa fa-thumbs-down fa-lg"></i>
						<span>({{vm.postsArray[$index].vote.count[0].downvotes}})</span>
					</span>
				</button>
				<a href="/i/{{vm.postsArray[$index].id}}" title="Komentiraj" target="_blank">
					<span>
						<i class="fa fa-comments fa-lg"></i>
						<span>({{vm.postsArray[$index].comment.count}})</span>
					</span>
				</a>
				<button type="button" title="Deli na facebook" ng-click="vm.share( vm.postsArray[$index].id, vm.postsArray[$index].text)">
					<span>
						<i class="fa fa-facebook-official fa-lg"></i>
						<span>Deli</span>
					</span>
				</button>
			</div>
		</div>
		<p ng-hide="vm.postsArray">Trenutno še ni objav. :(</p>
	</div>
</div>

<div class="container-fluid posts-nav-container" ng-class="{cookies: (vm.cookies == false)}">
	<button title="Prejšnja stran" ng-click="vm.pageChange('prev')"
	ng-hide="vm.page == 0">
		<i class="fa fa-angle-left"></i>
	</button>
	<button title="Naslednja stran" ng-click="vm.pageChange('next')"
	ng-show="vm.nextPage > 0">
		<i class="fa fa-angle-right"></i>
	</button>
</div>